#{extends 'main.html' /}
#{set title:'34ideas Popular ' + topic /}

<div class="row">
    <div class="eight columns">
        <article>
            <header>
                <h2>Popular ${topic.title}</h2>
            </header>
            #{list items:ideas, as:'idea'}
            #{idea full:false,idea:idea/}
            #{/list}
        </article>
    </div>
    <div class="four columns">

        <h4>About <i>${idea.topic.title}</i></h4>
        <p>${idea.topic.txt.escape()}</p>
        <div>
            #{a @Ideas.newest(idea.topic.path)}Newest#{/a} |
            #{a @Ideas.popular(idea.topic.path)}Popular#{/a} 
        </div>

        <h4>Got a new idea?</h4>

        <a href="@{IdeasSecure.add(idea.topic.path)}" class="nice round small green button">Add an idea</a>
    </div>
</div>

