#{extends 'main.html' /}
#{set title:'34ideas ' + idea.topic /}

<article>
    <header>
        <h2>${idea.topic.title}</h2>
    </header>

    #{idea full:true,idea:idea/}

    <h3>Comments</h3>
    #{list idea.getComments() }
    <p>
        ${_.txt.nl2br()}
    </p>
    #{/list}
    <div>
        #{form @Comments.create(idea.id)}

            #{ifError 'comment.txt'}
                <div class="error">
                #{error 'comment.txt' /}
                </div>
            #{/ifError}

            <textarea rows="3" cols="60" name="comment.txt">${comment.txt}</textarea>
            <input type="submit" value="Submit" class="submit" />
        #{/form}
    </div>
    
    <p class="addnew">
        #{a @Ideas.add(idea.topic.path)}Submit Your Own ${idea.topic.title} #{/a}
    </p>
</article>
