#{extends 'main.html' /}
#{set title:'34ideas ' + idea.topic /}

<article>
    <header>
        <h2>${idea.topic.title}</h2>
    </header>
    <div class="idea">
        <div class="top">
        <span class="left"> ${idea.approval}% out of ${idea.gVotes + idea.bVotes} votes</span>
        <span class="right">${idea.created.since(true)}</span>
        </div>
        <p>${idea.txt.nl2br()}</p>
    </div>


    <div>
        #{form @Ideas.vote()}
        <input type="hidden" value="GOOD" name="value" />
        <input type="hidden" value="${idea.id}" name="id" />
        <input type="submit" value="Good Idea?" class="submit" />
        #{/form}


        #{form @Ideas.vote()}
        <input type="hidden" value="BAD" name="value" />
        <input type="hidden" value="${idea.id}" name="id" />
        <input type="submit" value="Bad Idea?" class="submit" />
        #{/form}
    </div>
    <p class="addnew">
    #{a @Ideas.add(idea.topic.path)}Submit Your Own ${idea.topic.title} #{/a}
    </p>
</article>
