#{extends 'main.html' /}
#{set 'title'} Profile for ${user.username} #{/set}

<h2>${user.username}</h2>

<dl class="nice contained tabs">
    <dd><a href="#nice1" class="active">Ideas</a></dd>
    <dd><a href="#nice2">Comments</a></dd>
</dl>

<ul class="nice tabs-content contained">
    <li class="active" id="nice1Tab">
        #{list items:ideas, as:'idea'}
            #{idea full:false,idea:idea/}
        #{/list}
        #{else}
            Well, <strong>${user}</strong> does not have any ideas. How sad.
        #{/else}
    </li>
    <li id="nice2Tab">${user.username}'s comments will go here </li>
</ul>