
<div class="panel">
    <div class="row">
        <div class="six columns">
            <span class="left votes"> ${_idea.approval}% out of ${_idea.gVotes + _idea.bVotes} votes </span>
        </div>
        <div class="six columns">
            <span class="right">${_idea.created.since(true)} by #{if _idea.user}#{a @Users.show(_idea.user.username)}${_idea.user}#{/a}#{/if}#{else}Guest#{/else}</span>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p class="lead">
                #{if !_full}
                #{a @Ideas.show(_idea.topic.path, _idea.path)} ${_idea.txt.escape().nl2br()} #{/a}
                #{/if}
                #{else}
                ${_idea.txt.escape().nl2br()}
                #{/else}
            </p>
        </div>
    </div>

#{if _full}
<div class="row">
    <div class="six columns ctr">
        #{form @Ideas.vote()}
            <input type="hidden" value="GOOD" name="value" />
            <input type="hidden" value="${_idea.id}" name="id" />
            <input type="submit" value="Good Idea?" class="round large blue button good" />
        #{/form}
    </div>
    <div class="six columns ctr">
        #{form @Ideas.vote()}
            <input type="hidden" value="BAD" name="value" />
            <input type="hidden" value="${_idea.id}" name="id" />
            <input type="submit" value="Bad Idea?" class="round large blue button bad" />
        #{/form}
    </div>
</div>
#{/if}
</div>