#{extends 'main.html' /}
#{set title:'34ideas Share and Vote ideas' /}

<article>
    <header>
        <div class="row">

            <div class="twelve columns">
                <div class="ctr">
                    <h2>Click on a topic below</h2>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        #{list items:topics, as:'topic'}
        <div class="four columns">
            <div class="panel">
                <h3>${topic.title}</h3>
                <p>${topic.txt}</p>
                <center>
                    <a href="@{ideas.randomIdea(topic.path)}" class="round medium blue button"> More Info</a>
                </center>
                <br />
            </div>
        </div>
        #{/list}
    </div>
</article>