<!doctype html>
<html>
    <head>
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Vote on ideas.">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/html5.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/mainex.css'}">
        <!--script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script -->
        #{get 'moreStyles' /}
        #{get 'moreScripts' /}
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrap">
            <header>
                #{a @Application.index()}
                <h1><span>34</span>Ideas</h1>
                <h4>Share and Vote ideas</h4>
                #{/a}

            <div>
                #{if idea}
                    #{a @Ideas.newest(idea.topic.path)}Newest#{/a}
                    #{a @Ideas.popular(idea.topic.path)}Popular#{/a}
                #{/if}
                #{else}
                    &nbsp;
                #{/else}
            </div>
            </header>

            

            <section role="main">
                #{doLayout /}
                <div class="push"><!--Sticky Footer Push--></div>
            </section>
        </div>

    <footer>
        <p>
            Site built by <a href="http://about.me/ryanswanstrom">Ryan Swanstrom</a> | Privacy Policy - everything is public
            <br />
            Design modified from excess at <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
        </p>
    </footer>

</body>
</html>

