#{extends 'main.html' /}
#{set title:'34ideas Share an idea for ' + idea.topic /}

<div class="row">
    <div class="six columns centered">
        <article>
            <div>
                #{form @IdeasSecure.create(), class:'nice'}
                <h2>${idea.topic.title}</h2>
                #{if errors}
                <div class="alert-box error">
                    #{error 'idea.txt' /}
                </div>
                #{/if}
                <input type="hidden" name="topicId" value="${idea.topic.id}" />
                <textarea rows="6" cols="80" name="txt" value="${idea.txt}" class="large" placeholder="What is your idea?"></textarea>
                <input type="submit" value="Add Your Idea" class="nice round button large blue" />
                #{/form}
            </div>
        </article>
    </div>
</div>

